html
  head
    title= title
    style.
      body {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      button, button:hover, button:focus {
        display: inline-block;
        padding: 15px 30px;
        border: 2px solid #3D474E;
        color: #3D474E;
        text-decoration: none;
        margin: 0px 10px 10px 0;
        transition: all .6s;
        min-width: 100px;
        text-align: center;
        cursor: pointer;
        outline: none;
      }
  body
    button(id="button") Push It

    script.
      document.getElementById('button').addEventListener('click', function(e){
        console.log(e)
        fetch('/track', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ pushIt: true })
        })
      })
